body {
    word-wrap: break-word;
    word-break: break-word;
}

.container {
    margin-top: 4rem;
}

.post-nav {
    display: flex;
    padding: 0 .8rem;
    justify-content: space-between;
    align-items: center;
}

.post-nav h1 {
    margin: 0;
}

.grid-container {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-top: 1rem;
  }

.sticky-note {
    background: #fffb9166;
    border: 1px solid #e2d93b;
    box-shadow: 3px 3px 6px rgb(0 0 0 / 8%);
    padding: 1rem;
    margin: 1rem 0;
    width: 18em;
    height: 18em;
    word-wrap: break-word;
    word-break: break-word;
    position: relative;
}


.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.sticky-note ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.sticky-note a {
    text-decoration: none;
    color: #0066cc;
    float: right;
}

.sticky-note a:hover {
    text-decoration: underline;
}

.btn, .btn-primary {
    background-color: #343a40;
    border: #343a40;
    padding: .6rem 1rem;
}

.btn, .btn-primary:hover {
    background-color: #343a40;
    border: #343a40;
}

@media only screen and (max-width: 600px) {
    .post-nav {
        max-width: 315px;
        margin: auto;
    }
  }